/* CSS Document */
#guide ul a.guide { background:#ffbf5c; border-radius:2px; color:#fff;}

.content { display:block; zoom:1; overflow:hidden; padding:30px 60px 120px;}
.content h3 { display:block; text-align:center; font-size:20px; line-height:30px; padding-bottom:40px;}

.contentGuide { clear:both; display:block; zoom:1; overflow:hidden; padding:20px; 0}
.contentGuide font{ font-size:12px; background:#ffd18b; width:200px; height:44px; line-height:20px; display:block; float:left; border-radius:4px; padding:7px 15px; margin-right:2px;}
.contentGuide span { background:#fedeab; margin:8px 0; height:20px; display:block; float:left; padding:12px 10px 10px;}
.contentGuide b { float:left; padding-top:4px}