/* CSS Document */
#travel ul a.travel { color:#4f3431}

.content { padding:20px 60px; line-height:24px; display:block; zoom:1; overflow:hidden;}
.content span { display:block; zoom:1; overflow:hidden;}
.content h4 { display:block; padding:20px 0 5px; font-size:14px; color:#802d05}
.content span font { display:block; clear:both; text-indent:24px;}


