<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richmobi.amwayfc.persistence.UserMapper">

	<resultMap type="user" id="userMap">
		<id property="id" column="id"/>
		<collection property="js" column="id" select="com.richmobi.amwayfc.persistence.JourneyMapper.getJourneysByUid"></collection>
		<collection property="cuids" column="id" select="com.richmobi.amwayfc.persistence.UserJourneyMapper.getUidByAuid"></collection>
	</resultMap>
	
	<sql id="select_user_sql_segment">
		SELECT
			id, logincode, name, phone, sex, isadult,
			isjoin, areacode, areaname, province, city,
			store, nature, relation, birthdate, age,
			visa, airticket, diet, istake
		FROM
			t_user
	</sql>

	<insert id="insert" parameterType="user">
		<selectKey keyProperty="id" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO t_user
			(
				logincode, name, phone, sex, isadult,
				isjoin, areacode, areaname, province, city,
				store, nature, relation, birthdate, age,
				visa, airticket, diet, istake
			)
		VALUES
			(
				#{logincode}, #{name}, #{phone}, #{sex}, #{isadult},
				#{isjoin}, #{areacode}, #{areaname}, #{province}, #{city},
				#{store}, #{nature}, #{relation}, #{birthdate}, #{age},
				#{visa}, #{airticket}, #{diet}, #{istake}
			)
	</insert>
	
	<insert id="batchInsertUser">
		INSERT INTO t_user
			(
				logincode, name, phone, sex, isadult,
				isjoin, areacode, areaname, province, city,
				store, nature, relation, birthdate, age,
				visa, airticket, diet, istake
			)
		VALUES
			<foreach collection="list" index="index" item="user" separator=",">
				(
					#{user.logincode}, #{user.name}, #{user.phone}, #{user.sex}, #{user.isadult},
					#{user.isjoin}, #{user.areacode}, #{user.areaname}, #{user.province}, #{user.city},
					#{user.store}, #{user.nature}, #{user.relation}, #{user.birthdate}, #{user.age},
					#{user.visa}, #{user.airticket}, #{user.diet}, #{user.istake}
				)
			</foreach>
	</insert>
	
	<update id="update" parameterType="user">
		UPDATE
			t_user
		SET
			name = #{name}, phone = #{phone}, sex = #{sex}, isadult = #{isadult},
			isjoin = #{isjoin}, areacode = #{areacode}, areaname = #{areaname}, province = #{province}, city = #{city},
			store = #{store}, nature = #{nature}, relation = #{relation}, birthdate = #{birthdate}, age = #{age},
			visa = #{visa}, airticket = #{airticket}, diet = #{diet}, istake = #{istake}
		WHERE
			id = #{id}
	</update>
	
	<select id="getUsersByLogincode" parameterType="string" resultMap="userMap">
		<include refid="select_user_sql_segment"/>
		WHERE
			logincode = #{logincode}
	</select>
	
	<select id="getUsersByCondition" parameterType="map" resultMap="userMap">
		<include refid="select_user_sql_segment"/>
		<if test="row != null and row != 0">
			limit #{offset},#{row}
		</if>
	</select>
	
</mapper>