<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richmobi.amwayfc.persistence.UserJourneyMapper">

	<insert id="batchInsert">
		INSERT INTO t_user_journey
			(uid, jid, auid)
		VALUES
			<foreach collection="list" index="index" item="uj" separator=",">
				(#{uj.uid},#{uj.jid},#{uj.auid})
			</foreach>
	</insert>
	
	<select id="getParnumsBylogincode" parameterType="string" resultType="userJourney">
		SELECT 
			j.jid AS jid,COUNT(j.id) AS parnum 
		FROM 
			(
				SELECT t_user_journey.* 
				FROM t_user_journey ,t_user 
				WHERE t_user.id = t_user_journey.uid AND t_user.logincode = #{logincode}
			) AS j 
		GROUP BY j.jid
	</select>
	
	<select id="getUidByAuid" parameterType="long" resultType="long">
		SELECT 
			uid
		FROM 
			t_user_journey
		WHERE
			auid = #{auid}
	</select>
	
	<delete id="deleteByLogincode" parameterType="string">
		DELETE FROM 
			t_user_journey
		WHERE
			jid > 5 
		AND 
			uid IN (SELECT id FROM t_user WHERE logincode = #{logincode})
	</delete>
	
	<delete id="deleteByUid" parameterType="long">
		DELETE FROM 
			t_user_journey
		WHERE
			jid > 5		
		AND 
			uid = #{uid}
	</delete>
</mapper>